# D02: Importing & Exporting data with Pandas

We'll start our introduction to pandas by looking at ways in which we read in, or import data in to be analysed and visualised.

Pandas can read a variety of data in, in a variety of formats. In this lesson we'll look at some of the more common data types and the syntax and options you have to read these in.

## CSV data

CSV stands for comma separated values. It is essentially a plan text file, the likes of which you can create with notepad or a text editor where the data values are separated by commas. Note that the csv file can have variants (e.g. a tab separated values or TSV file) and often the data will be separated by other separators such as spaces, pipes or semi colons.

For now we're going to look at how we import a simple csv file using pandas. I've uploaded some data from gov.uk onto an AWS server where we can access it directly without the need to download it.

In [1]:
import pandas as pd

csv_path = 'https://s3-eu-west-1.amazonaws.com/dft-python/motsitelist2015.csv';  # Location of the file

df1 = pd.read_csv(csv_path)   # Imports the csv
df1.head(5)                   # Calling the head method wiuth a value will show the first x records of the data

,VTS Site Number,VTS Trading Name,VTS Address Line 1,VTS Address Line 2,VTS Address Line 3,VTS Address Line 4,VTS Post Code,VTS Telephone Number,VTS Fax Number,1,2,3,4,4A,5,5A,7
0,0003AW,M AND T TRANSMISSIONS LIMITED,120 BRADWAY ROAD,NaN,NaN,SHEFFIELD,S17 4QW,'01142363617,'01142621012,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
1,0003BY,M & D SERVICES (BRISTOL) LTD,UNIT 1 BALACLAVA ROAD IND EST,RIDGWAY ROAD,FISHPONDS,BRISTOL,BS16 3LJ,'01179651900,'01179650651,NaN,NaN,NaN,Y,NaN,Y,NaN,Y
2,0004B1,PANTEG SERVICE STATION,STATION RD,GRIFFITHSTOWN,NaN,PONTYPOOL,NP4 5JH,'01495755140,'014795760771,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
3,0005A2,HAVELOCK ROAD GARAGE,HAVELOCK ROAD,BALBY,NaN,DONCASTER,DN4 8AQ,'01302363860,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
4,0005B0,STONEACRE,ROWSON STREET,NEW BRIGHTON,NaN,WALLASEY,CH45 2NA,'01516398121,'01516390748,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN

As we can see, pandas has imported our csv perfectly!

Note how the telephone and fax number columns begin with an apostrophe. This is presumably done to stop software reading it these fields as numbers and stripping the leading 0 of the phone number out!

You'll also notice that missing data is shown with a NaN value. This stands for 'Not a Number' and we'll be exploring that in greater detail later on.

We do have a lot of control over the read_csv function as evidenced by this more detailed example:

In [2]:
path = 'https://s3-eu-west-1.amazonaws.com/dft-python/motsitelist2015.csv';  # Location of the file
cols = ['Site', 'Name', 'Address 1',' Address 2', ' Address 3', 'Address 4','Postcode','Tel', 'Fax','1','2','3','4','4A','5','5A','7']

df2 = pd.read_csv(filepath_or_buffer=csv_path,# Keyword argument for the file location
                  sep=',',                    # The separator for the data fields. Pandas will try and determine this automatically
                  header = 0,                 # The row of the input file to use for the headers
                  names = cols,               # Custom column names - passed as a list
                  index_col = 'Site',         # Column to use as an index - can also pass a number
                  usecols = [0,1,2,3,4,5,6],  # Specify specific columns to import
                 )
df2.head(5)

,Name,Address 1,Address 2,Address 3,Address 4,Postcode
Site,,,,,,
0003AW,M AND T TRANSMISSIONS LIMITED,120 BRADWAY ROAD,NaN,NaN,SHEFFIELD,S17 4QW
0003BY,M & D SERVICES (BRISTOL) LTD,UNIT 1 BALACLAVA ROAD IND EST,RIDGWAY ROAD,FISHPONDS,BRISTOL,BS16 3LJ
0004B1,PANTEG SERVICE STATION,STATION RD,GRIFFITHSTOWN,NaN,PONTYPOOL,NP4 5JH
0005A2,HAVELOCK ROAD GARAGE,HAVELOCK ROAD,BALBY,NaN,DONCASTER,DN4 8AQ
0005B0,STONEACRE,ROWSON STREET,NEW BRIGHTON,NaN,WALLASEY,CH45 2NA

You can read more about the read_csv function at the Pandas API reference <a href = "http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html">here</a>.

## JSON Data

JSON stands for JavaScript Object Notation. It is a widely used data format on the internet due to the wide use of Javascript in web browsers. If you've not seen JSON data before, it can appear a little daunting as it's not really designed to be easily read by humans and also due to its nested nature. That said, it is a very efficient way to store unstructured data since not all the data items have to have the same 'shape' (e.g. rows / columns) and values can be nested within other data items and accesed by indexing.

We'll now look at the above extract from the MOT dataset above, except in JSON format:

'{"Name":
    {"0003AW":"M AND T TRANSMISSIONS LIMITED",
    "0003BY":"M & D SERVICES (BRISTOL) LTD",
    "0004B1":"PANTEG SERVICE STATION",
    "0005A2":"HAVELOCK ROAD GARAGE",
    "0005B0":"STONEACRE"},
"Address 1":
    {"0003AW":"120 BRADWAY ROAD",
    "0003BY":"UNIT 1 BALACLAVA ROAD IND EST",
    "0004B1":"STATION RD","0005A2":"HAVELOCK ROAD",
    "0005B0":"ROWSON STREET"}," 
Address 2":
    {"0003AW":null,
    "0003BY":"RIDGWAY ROAD",
    "0004B1":"GRIFFITHSTOWN",
    "0005A2":"BALBY",
    "0005B0":"NEW BRIGHTON"}," 
Address 3":
    {"0003AW":null,
    "0003BY":"FISHPONDS",
    "0004B1":null,
    "0005A2":null,
    "0005B0":null},
"Address 4":
    {"0003AW":"SHEFFIELD",
    "0003BY":"BRISTOL",
    "0004B1":"PONTYPOOL",
    "0005A2":"DONCASTER",
    "0005B0":"WALLASEY"},
"Postcode":
    {"0003AW":"S17 4QW",
    "0003BY":"BS16 3LJ",
    "0004B1":"NP4 5JH",
    "0005A2":"DN4 8AQ",
    "0005B0":"CH45 2NA"}}'

As you can see the format isn't particularly easy on the eye and due to it's different structure and nesting, it's quite difficult to make sense of. Fortunately pandas copes very well with JSON and can make light work of it.

We're now going to import an identical MOT dataset to our first example, except this time it's saved in JSON format.

In [3]:
json_path = 'https://s3-eu-west-1.amazonaws.com/dft-python/motsitelist2015.json';  # Location of the file - note the json suffix!
df3 = pd.read_json(json_path)
df3.head(5)

,VTS Site Number,VTS Trading Name,VTS Address Line 1,VTS Address Line 2,VTS Address Line 3,VTS Address Line 4,VTS Post Code,VTS Telephone Number,VTS Fax Number,1,2,3,4,4A,5,5A,7
0,0003AW,M AND T TRANSMISSIONS LIMITED,120 BRADWAY ROAD,None,None,SHEFFIELD,S17 4QW,'01142363617,'01142621012,None,None,None,Y,None,None,None,None
1,0003BY,M & D SERVICES (BRISTOL) LTD,UNIT 1 BALACLAVA ROAD IND EST,RIDGWAY ROAD,FISHPONDS,BRISTOL,BS16 3LJ,'01179651900,'01179650651,None,None,None,Y,None,Y,None,Y
2,0004B1,PANTEG SERVICE STATION,STATION RD,GRIFFITHSTOWN,None,PONTYPOOL,NP4 5JH,'01495755140,'014795760771,None,None,None,Y,None,None,None,None
3,0005A2,HAVELOCK ROAD GARAGE,HAVELOCK ROAD,BALBY,None,DONCASTER,DN4 8AQ,'01302363860,',None,None,None,Y,None,None,None,None
4,0005B0,STONEACRE,ROWSON STREET,NEW BRIGHTON,None,WALLASEY,CH45 2NA,'01516398121,'01516390748,None,None,None,Y,None,None,None,None

As we can see, Pandas as read the JSON file in a different order and it also appears to have an issue with the index. This is all stuff we can fix very easily, and indeed we're going to find out how in the upcoming chapters, but as a basic validation check we should see whether the JSON dataframe has the same number of records as the CSV dataframe. We can do this with the len() function we met in the basics section:

In [4]:
print(len(df1),len(df3))

22737 22737

As we can see, both datasets have the same number of records which is encouraging! For now, we'll simply export our dataset as a csv so we can explore it in Excel or a similar program.

Note that you can read more about the read_json function <a href = "http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader">here</a>

In [6]:
out_path = "C:\\Users\\Rose Almond\\Documents\\GitHub\\Python-for-Analysts\\2_data_analysis\\output\\MOT File.csv"  # Location of the outfile
df3.to_csv(out_path)                                       # Exporting the file as a CSV

Note that we have to use double backslashes when specifying a string for the file location as Python uses single backslashes as an 'escape sequence'. There is more information about escape sequences in the further reading section.

You can also read more about the to_csv function <a href = "http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.to_csv.html">here</a>.

## Other forms of data

Note that you're not just limited to JSON and CSV data when reading data into pandas, although these are two of the more common types of data format out there. Pandas has many other similar functions for reading a wider variety of data in, including:

* MS Excel
* HTML
* SQL
* STATA
* SAS

You can find a full list of these functions <a href = "http://pandas.pydata.org/pandas-docs/stable/io.html">here</a> along with links to supporting documentation.

## Further Reading

<a href = "http://pandas.pydata.org/pandas-docs/stable/io.html">Pandas IO tools</a> (Read / Export functions)<br/>
<a href = "http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html">read_csv Function</a><br/>
<a href = "http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.to_csv.html">to_csv Fucntion</a><br/>
<a href = "http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader">read_json function</a><br/>
<a href = "http://beginnersbook.com/2015/04/json-tutorial/">JSON Tutorial</a><br/>