# D02: Importing & Exporting data with Pandas

We'll start our introduction to pandas by looking at ways in which we read in, or import data in to be analysed and visualised.

Pandas can read a variety of data in, in a variety of formats. In this lesson we'll look at some of the more common data types and the syntax and options you have to read these in.

## CSV data

CSV stands for comma separated values. It is essentially a plan text file, the likes of which you can create with notepad or a text editor where the data values are separated by commas. Note that the csv file can have variants (e.g. a tab separated values or TSV file) and often the data will be separated by other separators such as spaces, pipes or semi colons.

For now we're going to look at how we import a simple csv file using pandas. I've uploaded some data from gov.uk onto an AWS server where we can access it directly without the need to download it.

In [2]:
import pandas as pd

csv_path = 'https://s3-eu-west-1.amazonaws.com/dft-python/motsitelist2015.csv';  # Location of the file

df1 = pd.read_csv(csv_path)   # Imports the csv
df1.head(5)                   # Calling the head method wiuth a value will show the first x records of the data

,VTS Site Number,VTS Trading Name,VTS Address Line 1,VTS Address Line 2,VTS Address Line 3,VTS Address Line 4,VTS Post Code,VTS Telephone Number,VTS Fax Number,1,2,3,4,4A,5,5A,7
0,0003AW,M AND T TRANSMISSIONS LIMITED,120 BRADWAY ROAD,NaN,NaN,SHEFFIELD,S17 4QW,'01142363617,'01142621012,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
1,0003BY,M & D SERVICES (BRISTOL) LTD,UNIT 1 BALACLAVA ROAD IND EST,RIDGWAY ROAD,FISHPONDS,BRISTOL,BS16 3LJ,'01179651900,'01179650651,NaN,NaN,NaN,Y,NaN,Y,NaN,Y
2,0004B1,PANTEG SERVICE STATION,STATION RD,GRIFFITHSTOWN,NaN,PONTYPOOL,NP4 5JH,'01495755140,'014795760771,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
3,0005A2,HAVELOCK ROAD GARAGE,HAVELOCK ROAD,BALBY,NaN,DONCASTER,DN4 8AQ,'01302363860,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
4,0005B0,STONEACRE,ROWSON STREET,NEW BRIGHTON,NaN,WALLASEY,CH45 2NA,'01516398121,'01516390748,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN

In [ ]:
As we can see, pandas has imported our csv perfectly!

Note how the telephone and fax number columns begin with an apostrophe. This is presumably done to stop software reading it these fields as numbers and stripping the leading 0 of the phone number out!

You'll also notice that missing data is shown with a NaN value. This stands for 'Not a Number' and we'll be exploring that in greater detail later on.

We do have a lot of control over the read_csv function as evidenced by this more detailed example:

In [9]:
path = 'https://s3-eu-west-1.amazonaws.com/dft-python/motsitelist2015.csv';  # Location of the file
cols = ['Site', 'Name', 'Address 1',' Address 2', ' Address 3', 'Address 4','Postcode']#,'Tel', 'Fax','1','2','3','4','4A','5','5A','7']

df2 = pd.read_csv(filepath_or_buffer=csv_path,# Keyword argument for the file location
                  sep=',',                    # The separator for the data fields. Pandas will try and determine this automatically
                  header = 0,                 # The row of the input file to use for the headers
                  
                  index_col = 'Site',         # Column to use as an index - can also pass a number
                  usecols = [0,1,2,3,4,5,6],  # Specify specific columns to import
                  names = cols               # Custom column names - passed as a list
                 )
df2.head(5)

,Name,Address 1,Address 2,Address 3,Address 4,Postcode
Site,,,,,,
0003AW,M AND T TRANSMISSIONS LIMITED,120 BRADWAY ROAD,NaN,NaN,SHEFFIELD,S17 4QW
0003BY,M & D SERVICES (BRISTOL) LTD,UNIT 1 BALACLAVA ROAD IND EST,RIDGWAY ROAD,FISHPONDS,BRISTOL,BS16 3LJ
0004B1,PANTEG SERVICE STATION,STATION RD,GRIFFITHSTOWN,NaN,PONTYPOOL,NP4 5JH
0005A2,HAVELOCK ROAD GARAGE,HAVELOCK ROAD,BALBY,NaN,DONCASTER,DN4 8AQ
0005B0,STONEACRE,ROWSON STREET,NEW BRIGHTON,NaN,WALLASEY,CH45 2NA

In [5]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

You can read more about the read_csv function at the Pandas API reference <a href = "http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html">here</a>.

## JSON Data

JSON stands for JavaScript Object Notation. It is a widely used data format on the internet due to the wide use of Javascript in web browsers. If you've not seen JSON data before, it can appear a little daunting as it's not really designed to be easily read by humans and also due to its nested nature. That said, it is a very efficient way to store unstructured data since not all the data items have to have the same 'shape' (e.g. rows / columns) and values can be nested within other data items and accesed by indexing.

We'll now look at the above extract from the MOT dataset above, except in JSON format:

'{"Name":
    {"0003AW":"M AND T TRANSMISSIONS LIMITED",
    "0003BY":"M & D SERVICES (BRISTOL) LTD",
    "0004B1":"PANTEG SERVICE STATION",
    "0005A2":"HAVELOCK ROAD GARAGE",
    "0005B0":"STONEACRE"},
"Address 1":
    {"0003AW":"120 BRADWAY ROAD",
    "0003BY":"UNIT 1 BALACLAVA ROAD IND EST",
    "0004B1":"STATION RD","0005A2":"HAVELOCK ROAD",
    "0005B0":"ROWSON STREET"}," 
Address 2":
    {"0003AW":null,
    "0003BY":"RIDGWAY ROAD",
    "0004B1":"GRIFFITHSTOWN",
    "0005A2":"BALBY",
    "0005B0":"NEW BRIGHTON"}," 
Address 3":
    {"0003AW":null,
    "0003BY":"FISHPONDS",
    "0004B1":null,
    "0005A2":null,
    "0005B0":null},
"Address 4":
    {"0003AW":"SHEFFIELD",
    "0003BY":"BRISTOL",
    "0004B1":"PONTYPOOL",
    "0005A2":"DONCASTER",
    "0005B0":"WALLASEY"},
"Postcode":
    {"0003AW":"S17 4QW",
    "0003BY":"BS16 3LJ",
    "0004B1":"NP4 5JH",
    "0005A2":"DN4 8AQ",
    "0005B0":"CH45 2NA"}}'

As you can see the format isn't particularly easy on the eye and due to it's different structure and nesting, it's quite difficult to make sense of. Fortunately pandas copes very well with JSON and can make light work of it.

We're now going to import an identical MOT dataset to our first example, except this time it's saved in JSON format.

In [10]:
json_path = 'https://s3-eu-west-1.amazonaws.com/dft-python/motsitelist2015.json';  # Location of the file - note the json suffix!
df3 = pd.read_json(json_path)
df3.head(5)

,VTS Site Number,VTS Trading Name,VTS Address Line 1,VTS Address Line 2,VTS Address Line 3,VTS Address Line 4,VTS Post Code,VTS Telephone Number,VTS Fax Number,1,2,3,4,4A,5,5A,7
0,0003AW,M AND T TRANSMISSIONS LIMITED,120 BRADWAY ROAD,None,None,SHEFFIELD,S17 4QW,'01142363617,'01142621012,None,None,None,Y,None,None,None,None
1,0003BY,M & D SERVICES (BRISTOL) LTD,UNIT 1 BALACLAVA ROAD IND EST,RIDGWAY ROAD,FISHPONDS,BRISTOL,BS16 3LJ,'01179651900,'01179650651,None,None,None,Y,None,Y,None,Y
2,0004B1,PANTEG SERVICE STATION,STATION RD,GRIFFITHSTOWN,None,PONTYPOOL,NP4 5JH,'01495755140,'014795760771,None,None,None,Y,None,None,None,None
3,0005A2,HAVELOCK ROAD GARAGE,HAVELOCK ROAD,BALBY,None,DONCASTER,DN4 8AQ,'01302363860,',None,None,None,Y,None,None,None,None
4,0005B0,STONEACRE,ROWSON STREET,NEW BRIGHTON,None,WALLASEY,CH45 2NA,'01516398121,'01516390748,None,None,None,Y,None,None,None,None

As we can see, Pandas as read the JSON file in a different order and it also appears to have an issue with the index. This is all stuff we can fix very easily, and indeed we're going to find out how in the upcoming chapters, but as a basic validation check we should see whether the JSON dataframe has the same number of records as the CSV dataframe. We can do this with the len() function we met in the basics section:

In [11]:
print(len(df1),len(df3))

22737 22737

As we can see, both datasets have the same number of records which is encouraging! For now, we'll simply export our dataset as a csv so we can explore it in Excel or a similar program.

Note that you can read more about the read_json function <a href = "http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader">here</a>

In [16]:
out_path = "C:\\Users\\Rose Almond\\Documents\\GitHub\\Python-for-Analysts\\2_data_analysis\\output\\MOT File.csv"  # Location of the outfile
df3.to_csv(out_path)                                       # Exporting the file as a CSV

Note that we have to use double backslashes when specifying a string for the file location as Python uses single backslashes as an 'escape sequence'. There is more information about escape sequences in the further reading section.

You can also read more about the to_csv function <a href = "http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.to_csv.html">here</a>.

## Other forms of data

Note that you're not just limited to JSON and CSV data when reading data into pandas, although these are two of the more common types of data format out there. Pandas has many other similar functions for reading a wider variety of data in, including:

* MS Excel
* HTML
* SQL
* STATA
* SAS

You can find a full list of these functions <a href = "http://pandas.pydata.org/pandas-docs/stable/io.html">here</a> along with links to supporting documentation.

## Further Reading

<a href = "http://pandas.pydata.org/pandas-docs/stable/io.html">Pandas IO tools</a> (Read / Export functions)<br/>
<a href = "http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html">read_csv Function</a><br/>
<a href = "http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.to_csv.html">to_csv Fucntion</a><br/>
<a href = "http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader">read_json function</a><br/>
<a href = "http://beginnersbook.com/2015/04/json-tutorial/">JSON Tutorial</a><br/>